In [64]:
import tweepy
import json
import jsonlines
import pandas as pd

In [45]:
consumer_key = "" 
consumer_secret = ""
access_key = ""
access_secret = ""

In [46]:
auth = tweepy.OAuthHandler(consumer_key, consumer_secret) 
auth.set_access_token(access_key, access_secret) 
api = tweepy.API(auth) 
tweets = api.user_timeline(screen_name='midasIIITD')

In [48]:
with open('data.jsonl','w') as r:
  for i in tweets:
    json.dump(i._json,r)
    r.write('\n')

In [41]:
with open('data.jsonl', 'w') as outfile:
    json.dump

In [42]:
with open('data.jsonl', 'r') as infile:
    files = infile.readlines()

In [66]:
rows = []
for tweet in tweets:
  row = [] 
  row.append(tweet.text)
  date = tweet.created_at.strftime('%m/%d/%Y')
  row.append(date)
  time = tweet.created_at.strftime('%H:%M')
  row.append(time)
  row.append(tweet.favorite_count)
  row.append(tweet.retweet_count)
  rows.append(row)

data = pd.DataFrame(rows,columns = ['tweet_text','Date','Time','Likes','Retweets'])# converting the list of data rows into a DataFrame

In [67]:
data

,tweet_text,Date,Time,Likes,Retweets
0,@midasIIITD lab is looking for motivated MTech...,04/10/2019,17:05,1,1
1,We will close the submission portal for submit...,04/10/2019,16:47,2,1
2,Clarification: Our earlier post which indicate...,04/10/2019,09:01,1,0
3,RT @IIITDelhi: Applications open for MTech (CB...,04/10/2019,04:51,0,1
4,RT @IIITDelhi: We are delighted to share that ...,04/09/2019,16:45,0,14
5,RT @Harvard: Professor Jelani Nelson founded A...,04/09/2019,05:04,0,36
6,RT @emnlp2019: For anyone interested in submit...,04/09/2019,05:04,0,17
7,RT @multimediaeval: Announcing the 2019 MediaE...,04/08/2019,19:38,0,15
8,"Many Congratulations to @midasIIITD student, S...",04/08/2019,07:08,18,2
9,@midasIIITD thanks all students who have appea...,04/08/2019,03:27,5,0
10,"@himanchalchandr Meanwhile, complete CV/NLP ta...",04/07/2019,14:17,0,0
11,@sayangdipto123 Submit as per the guideline ag...,04/07/2019,14:17,0,0
12,We request all students whose interview are sc...,04/07/2019,11:43,1,1
13,"Other queries: ""none of the Tweeter Apis give ...",04/07/2019,06:55,5,2
14,"Other queries: ""do we have to make two differe...",04/07/2019,06:53,5,1
15,"Other queries: ""If using Twitter api, it does ...",04/07/2019,05:32,6,1
16,Response to some queries asked by students on ...,04/07/2019,05:29,7,1
17,RT @kdnuggets: Top 8 #Free Must-Read #Books on...,04/06/2019,17:11,0,2
18,@nupur_baghel @PennDATS Congratulation @nupur_...,04/06/2019,16:43,18,3
19,We have emailed the task details to all candid...,04/05/2019,16:08,11,1